<form action="" [formGroup]="reactiveForms">
  <div class="single_form">
    <input type="text" placeholder="first name" formControlName="firstName">
  </div>
  <div class="single_form">
    <input type="text" placeholder="last name" formControlName="lastName">
  </div>

  <div class="personal_details" formGroupName="personalDetails">
    <div class="single_form">
      <input type="text" placeholder="Mother name" formControlName="motherName">
    </div>
    <div class="single_form">
      <input type="text" placeholder="Father name" formControlName="fatherName">
    </div>
  </div>

  <div formArrayName="skills">
    <div class="single_form" *ngFor="let skill of skillList?.controls; let i = index;">
      <!-- need formGroupName bcz => this is a sub form group of main formGroup -->
      <div formGroupName="{{i}}">
        <input type="text" placeholder="Skill" formControlName="skill">
        <input type="text" placeholder="Exp" formControlName="exp">
        <button (click)="removeSkill(i)">+ Remove skill</button>
      </div>
    </div>
  </div>

  <button (click)="addSkills()">+ Add skill</button>
  <button type="submit" (click)="submitForm()">Submit Form</button>
</form>
